---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class={cn("flex flex-col gap-y-3", className)}>
  <slot />
</section>